.searchbox_wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
  align-items: center;
}

.searchbox_label {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.searchbox_input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
}

.searchbox_input::placeholder {
  color: rgb(163, 152, 152);
  font-weight: 300;
}
