.loginform {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0 0 4px 3px;
  align-self: center;
}

.loginform_field {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
}

.loginform_field::placeholder {
  color: rgb(163, 152, 152);
  font-weight: 300;
}

.loginform_message_first {
  color: red;
  position: absolute;
  top: 16px;
  right: 20px;
}

.loginform_message_second {
  color: red;
  position: absolute;
  top: 112px;
  right: 20px;
}

.loginform_btn {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgb(238, 217, 217);
  height: 48px;
  width: 200px;
  align-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.loginform_btn:hover {
  background-color: rgb(216, 153, 153);
  box-shadow: 0 0 2px 2px;
  cursor: pointer;
}

.loginform_form_eye {
  position: absolute;
  top: 148px;
  right: 24px;
}
