.registerForm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  width: 400px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(75, 151, 168, 0.432);
  border-radius: 10px;
}

.registerLabel {
  margin-bottom: 4px;
  font-size: 18px;
  font-style: italic;
}

.registerInput {
  height: 32px;
  border-radius: 5px;
  outline: none;
  background-color: whitesmoke;
  border: none;
  margin-bottom: 4px;
  font-style: 18px;
  padding-left: 8px;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registerInput:hover,
.registerInput:focus {
  background-color: ivory;
}

.registerInput:last-child {
  margin-bottom: 0;
}

.error {
  color: red;
  margin: 8px 0;
}

.registerBtn {
  width: 120px;
  align-self: center;
  padding: 8px;
  margin-top: 12px;
  background-color: rgb(55, 53, 168);
  border: none;
  color: wheat;
  border-radius: 5px;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: rgb(59, 114, 181);
  color: black;
}
